.clearfix{
	clear: both;
}
.mainbody{
	background-image: url('img/carbon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #000305;
	font-size: 87%;
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
	margin:0;
	padding: 0;
	background-position: center;
    background-attachment: fixed;
    display: block;
}

.gallerybody{
	background-image: url('img/se1.jpg');
	color: #000305;
	font-size: 87%;
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
}

a{
	text-decoration: none;
	color: black;
}
a:link, a:visited{color:#747d8c;}
a:hover, a:active{color:#f58233;}

.mainbody{
	margin: 10px auto;
	width: 90%;
	clear: both;
}

/*---------------Search BOx--------------------*/
.search-form{
	margin-top: 0px;
	float: right;
	margin-right: 0px;
}

input[type=text]{
	padding: 7px;
	height: 26px;
	border:none;
	font-size: 16px;
	font-family: sans-serif;
}

button{
	height: 40px;
	float: right;
	background-color:#2f3640;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 8px;
	font-family: sans-serif;
	border: none;
	font-size: 16px;
}
/*---------------chiose list--------------------*/

/*---------------main header--------------------*/
.mainheader img{
	width: 30%;
	padding-left: 550px;
}

.mainheader nav{
	background-color: #2f3640;
	height: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.mainheader nav ul{
	text-align: left;
	list-style: none;
	margin: 0 auto;


}

.mainheader nav ul li{
	display: inline;
	
}

.mainheader a:link , .mainheader a:visited{
	color: white;
	padding: 10px 20px;
	display: inline-block;
	height: 20px;
}
.mainheader a:hover , .mainheader a:active{
	color: white;
	background-color: #f58233;
}




.footer{
	margin-top: 20px;
	float: left;
	width: 100%;
	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.footer p {
	text-align: center;
	color: white;
	width: 90%;
}

/*------------------Gallery-----------------*/
 .second body {
      background: #ddd;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#ddd;
      margin: 0;
      padding: 0;

    }
    .swiper-container {
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px;

    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 380px;
      background: #fff;
      border-radius: 10px;
    }
    .swiper-slide .imgbx{
    	width: 100%;
    	height: 300px;
    	overflow: hidden;
    }

    .swiper-slide .imgbx img{
    	width: 100%;
    	max-width: 100%;
    	height: 100%;
    	border-radius: 5px;

    }

    .swiper-slide .details{
    	box-sizing: border-box;
    	padding: 20px;
    }

    .swiper-slide .details h3{
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	text-align: center;
    	line-height: 20px;
    	color: #006266;
    }

    .swiper-slide .details h3 span{
    	font-size: 18px;
    	color: #485460;
    }





.mainheader nav{
	height: 40px;
}

.mainheader ul{
	width: 100%;
	padding: 0;
}

.mainheader nav ul li{
	display: inline;
}

.mainheader a:link , .mainheader a:visited{
	
	display: inline-block;
	
}
.mainheader a:hover , .mainheader a:active{
	color: white;
	background-color: #f58233;
}

.maincontent{
	width: 100%;
}

.sidebar{
	width: 90%;
}

}

	/*---------------portrait landscape--------------------*/

@media screen and (max-width:736px){
	.body{
		width: 142%;
		font-size: 100%;
	}

	/*---------------main header mobile--------------------*/
.mainheader nav{
	height: 40px;
}

.mainheader ul{
	width: 100%;
	padding: 0;
}

.mainheader nav ul li{
	display: inline;
}

.mainheader a:link , .mainheader a:visited{
	
	display: inline-block;
	
}
.mainheader a:hover , .mainheader a:active{
	color: white;
	background-color: #f58233;
}

.maincontent{
	width: 100%;
}

}

